<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
            <section
                name="digiOrm"
                type="Kemel.Orm.Configuration.DigiOrmSection, Kemel.Orm"
            />
    </configSections>
    <digiOrm>
        <credentials>
            <credential applicationName="Kemel.Orm.Teste"
                        authenticationMode = "SqlUser"
                        keyProvider="DigiTeste"
                        dataSource="VMSDIGISQL01\DEV"
                        catalog="DIGI_TESTE"
                        user="sa"
                        password="x!rsa5)f"
                        starter="Kemel.Orm, Kemel.Orm.Starter.Windows.SqlServer2005Starter"
                        />
            <credential applicationName="Consolidacao Base Unica"
                        keyProvider="BaseSenai"
                        dataSource="10.190.200.23"
                        catalog="db_teste_sesisenaisp"
                        user="usr_debug"
                        password="debug"
                        starter="Kemel.Orm, Kemel.Orm.Starter.Windows.SqlServer2005Starter"
                        />
            <credential applicationName="Consolidacao Base Unica"
                        keyProvider="BaseUnica"
                        dataSource="labsesi.digisystem.com.br"
                        catalog="Corporativo"
                        user="UserCorporativo"
                        password="UserCorporativo"
                        starter="Kemel.Orm, Kemel.Orm.Starter.Windows.SqlServer2005Starter"
                        />
        </credentials>
    </digiOrm>
</configuration>
